# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
admin/db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
admin/vendor/* linguist-vendored


*.css linguist-vendored
*.html linguist-vendored

